<!--
  Generated template for the AddpetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addpet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-content class="addpet-content">
  <form [formGroup]="addPetForm" class="addpet-form">
      <h2 class="section-title">{{'Add a pet' | translate}}</h2>
      <ion-item>
        <ion-input type="text" placeholder="Pet Name" formControlName="name_of_pet"></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-input type="text" placeholder="Pet Id" formControlName="id"></ion-input>
        </ion-item>

      <ion-row no-padding class="multi-input-row">
        <ion-col no-padding >
          <ion-item class="multi-input time-item">
            <ion-label floating>{{'Date of born' | translate}}</ion-label>
            <ion-datetime formControlName="born_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row no-padding class="user-preferences-row">
          <span class="radio-tags-label">{{'TYPE OF PET' | translate}}</span>
          <ion-list class="radio-tags" radio-group formControlName="typeofpet">
            <ion-item class="radio-tag">
              <ion-label>cat</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
            <ion-item class="radio-tag">
              <ion-label>
                <span>dog</span>
              </ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-row>

       <!--  <ion-item>
          <ion-label>{{'TYPE OF PET' | translate}}</ion-label>
          <ion-select formControlName="typeofpet" (ionChange)="setPetBreedValues(sBreed)">
              <ion-option [value]="sBreed.pet_id" *ngFor="let sBreed of breeds">{{sBreed.name}} </ion-option>
          </ion-select>
      </ion-item> -->

        <ion-row no-padding class="user-preferences-row">
              <ion-item >                  
              <ion-label>{{'PET BREED' | translate}}</ion-label>
              <ion-select formControlName="petbreed"> 
              <!--  <ion-option  *ngFor="let breed of selectedbreeds" [value]="breed.category_id">{{breed.title}}</ion-option> -->
              <ion-option  *ngFor="let breed of petdetail.pet">{{breed.title}}</ion-option> 
              </ion-select>
            </ion-item>             
        </ion-row>

        <ion-row no-padding class="user-preferences-row">
            <span class="radio-tags-label">{{'Gender' | translate}}</span>
            <ion-list class="radio-tags" radio-group formControlName="gender">
              <ion-item class="radio-tag">
                <ion-label>M</ion-label>
                <ion-radio value="m"></ion-radio>
              </ion-item>
              <ion-item class="radio-tag">
                <ion-label>
                  <span>F</span>
                </ion-label>
                <ion-radio value="f"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-row>

          <ion-row no-padding class="user-preferences-row">
            <span class="radio-tags-label">{{'Gender' | translate}}</span>
            <ion-list class="radio-tags" radio-group formControlName="size">
              <ion-item class="radio-tag">
                <ion-label>L</ion-label>
                <ion-radio value="L"></ion-radio>
              </ion-item>
              <ion-item class="radio-tag">
                <ion-label>
                  <span>M</span>
                </ion-label>
                <ion-radio value="M"></ion-radio>
              </ion-item>
              <ion-item class="radio-tag">
                <ion-label>S</ion-label>
                <ion-radio value="S"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-row>

          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
          <ion-item class="range-item">
            <ion-label>
              <h2 class="range-label">{{'Pet Weight' | translate}}</h2>
              <h3 class="range-value">{{addPetForm.controls.weight.value}} kg</h3>
            </ion-label>
            <ion-range formControlName="weight" min="0" max="80" step="1" snaps="true" pin="false"></ion-range>
          </ion-item>
          </ion-col>
          <ion-col no-padding width-50>
            <ion-item class="range-item">
              <ion-label>
                <h2 class="range-label">{{'Pet Height' | translate}}</h2>
                <h3 class="range-value">{{addPetForm.controls.height.value}} cm</h3>
              </ion-label>
              <ion-range formControlName="height" min="0" max="100" step="1" snaps="true" pin="false"></ion-range>
            </ion-item>

            </ion-col>
          </ion-row>

         
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding >

            <ion-item>
              <ion-label>{{'Pet Color' | translate}}</ion-label>
              <ion-select formControlName="color"> <ion-option  *ngFor="let color of petColor.pet_color" >{{color.color}}</ion-option> </ion-select>
            </ion-item>

            </ion-col>
          </ion-row>

          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding >

            <ion-item>
              <ion-label>{{'Pet Status' | translate}}</ion-label>
              <ion-select formControlName="petstatus"> <ion-option  *ngFor="let status of petStatus.pet_status" [value]="status.id">{{status.status}}</ion-option> </ion-select>
            </ion-item>

            </ion-col>
          </ion-row>

          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding >

          <ion-item>
            <ion-label>{{'COUNTRY' | translate}}</ion-label>
            <ion-select formControlName="countryId"><ion-option *ngFor="let zone of country.zone" [value]="zone.country_id">{{zone.title}}</ion-option> </ion-select>
          </ion-item>

          </ion-col>
      </ion-row>
	  
	  <ion-row no-padding class="multi-input-row">
          <ion-col no-padding >
              <ion-item>
            <ion-label>{{'SUBCOUNTRY' | translate}}</ion-label>
            <ion-select formControlName="subCountryId"> <ion-option *ngFor="let zone of subcountry.zone" [value]="zone.country_id">{{zone.title}}</ion-option> </ion-select>
          </ion-item>

          </ion-col>
          </ion-row>

        <ion-row no-padding class="multi-input-row">
            <ion-col no-padding>
        <ion-item>
            <ion-textarea rows="7" placeholder="Write a description or something..." formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row no-padding class="multi-input-row">
          <ion-item>
            <ion-input type="text" placeholder="Mobile Phone" formControlName="phone"></ion-input>
          </ion-item>
        </ion-row>

         <ion-row no-padding class="multi-input-row">
              <ion-item>
        <ion-label >{{'UPLOAD_AN_IMAGE' | translate}}</ion-label>
        <ion-avatar item-end>
          <img src="{{imgPreview}}" (click)="getPhoto()">
        </ion-avatar>
      </ion-item>
          </ion-row>


        <ion-row no-padding class="multi-input-row">
          <ion-col no-padding >
            <ion-item class="multi-input time-item">
              <ion-label floating>{{'Lost Date' | translate}}</ion-label>
              <ion-datetime formControlName="lost_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
          </ion-row>


          <ion-row no-padding class="multi-input-row">
          <ion-col no-padding >
            <ion-item class="range-item">
              <ion-label>
                <h2 class="range-label">{{'Rewards' | translate}}</h2>
                <h3 class="range-value">$ {{addPetForm.controls.rewards.value}} </h3>
              </ion-label>
              <ion-range formControlName="rewards" min="0" max="10000" step="500" snaps="true" pin="false"></ion-range>
            </ion-item>
            </ion-col>
        </ion-row>

        <ion-row no-padding class="multi-input-row">
          <ion-col no-padding >
            <ion-item class="multi-input time-item">
              <ion-label floating>{{'Found Date' | translate}}</ion-label>
              <ion-datetime formControlName="found_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="multi-input-row">
          <ion-col no-padding>
      <ion-item>
          <ion-textarea rows="7" placeholder="Last Seen Appearance - When and where your pet was last seen before going missing? Include as many details as possible to help others to find your pet." formControlName="lastseen"></ion-textarea>
        </ion-item>
      </ion-col>
      </ion-row>

      <ion-row no-padding class="user-preferences-row">
        <span class="radio-tags-label">{{'Status' | translate}}</span>
        <ion-list class="radio-tags" radio-group formControlName="status">
          <ion-item class="radio-tag">
            <ion-label>Active</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio-tag">
            <ion-label>
              <span>InActive</span>
            </ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>

      <button ion-button block class="form-action-button create-event-button" type="submit" [disabled]="!addPetForm.valid" (click)="addPet()" >Done!</button>
  </form>
  </ion-content>
</ion-content>
