page-post-info {
    .profile-content
	{
		background-color: color($colors, background, base);

		.user-details
		{
			@include basic-card-styles($white-d);

			.item-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}
		}

		.button-details
		{
			@include basic-card-styles($white-d);
			// add margin for smaller comment button
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}
