<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
    <ion-buttons end > <!--[hidden]="!settingsForm.dirty"-->
      <button ion-button  (click)="saveProfile()">
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="settings-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-40>
        
        <ion-avatar item-end>
          <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.data.fb_uid" alt="this is the image" title="IMAGE!"></preload-image>
        </ion-avatar>
        
        <!-- <ion-avatar>
          <img class="user-image" src="{{imgPreview}}" />
        </ion-avatar> -->
      </ion-col>
    </ion-row>
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-60>
      <button class="image-action-button" ion-button outline block small (click)="getPhoto()">{{ 'CHANGE_PROFILE_PICTURE' | translate}}</button>
       
      </ion-col>
    </ion-row>
  </div>

  <form [formGroup]="settingsForm" class="settings-form">
    <ion-list class="user-data-content">
        <ion-item>
            <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
            <ion-input type="text" readonly="{{isReadonly}}"  formControlName="username"></ion-input>
          </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'FIRSTNAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'LASTNAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="text" readonly="{{isReadonly}}" formControlName="email"></ion-input>
        </ion-item>
      <ion-item>
          <ion-label stacked>{{ 'CITY' | translate }}</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'STREET' | translate }}</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'ABOUT' | translate }}</ion-label>
        <ion-textarea formControlName="about" rows="5" placeholder="Your description here..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'BIRTHDAY' | translate }}</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthday"></ion-datetime>
      </ion-item>
    </ion-list>
  
    <ion-list class="user-data-content">
    <!-- <ion-list class="user-preferences-row"> -->
      <ion-item>
        <ion-label>{{ 'SELECT_LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="language" cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'OK' | translate }}">
          <ion-option *ngFor="let language of languages" [value]="language">{{ language.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>{{ 'BIO' | translate }}</ion-label>
        <ion-toggle formControlName="bio" ></ion-toggle>
      </ion-item>
    </ion-list> -->

    <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>{{'NOTIFICATIONS' | translate}}</ion-label>
        <ion-toggle formControlName="notifications" ></ion-toggle>
      </ion-item>
    </ion-list>

    <!-- <ion-list class="switchers-list">
        <ion-item class="switcher-item">
          <ion-label>{{'NEWSLETTER' | translate}}</ion-label>
          <ion-toggle formControlName="newsletter" ></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-list class="switchers-list">
          <ion-item class="switcher-item">
            <ion-label>{{'SELLER' | translate}}</ion-label>
            <ion-toggle formControlName="seller" ></ion-toggle>
          </ion-item>
        </ion-list> -->

          <ion-item>
            <ion-label>{{'GENDER' | translate}}</ion-label>
            <ion-select formControlName="gender">
              <ion-option value="f">Female</ion-option>
              <ion-option value="m">Male</ion-option>
            </ion-select>
          </ion-item>

          <ion-row no-padding class="multi-input-row">
              <ion-col no-padding >
  
            <ion-item>
              <ion-label>{{'COUNTRY' | translate}}</ion-label>
              <ion-select formControlName="countryId" (ionChange)="onCountryChange()">
                <ion-option *ngFor="let zone of country.zone" [value]="zone.country_id">{{zone.title}}</ion-option> 
              </ion-select>
            </ion-item>
  
            </ion-col>
        </ion-row>
      
            <ion-row no-padding class="multi-input-row">
                <ion-col no-padding >
                    <ion-item>
                  <ion-label>{{'SUBCOUNTRY' | translate}}</ion-label>
                  <ion-select [disabled]="!isEnable" formControlName="subCountryId"> 
                    <ion-option *ngFor="let zone of zone" [value]="zone.country_id">{{zone.title}}</ion-option> </ion-select>
                </ion-item>
      
            </ion-col>
            </ion-row>
  
  </form>

  <!-- <button class="alt-button rate-app-button" ion-button full (click)="rateApp()">{{'RATE_APP' | translate}}</button>

  <button class="alt-button" ion-button full (click)="showPrivacyModal()">{{'PRIVACY_POLICY' | translate}}</button>

  <button class="alt-button" ion-button full (click)="showTermsModal()">{{'TERMS_OF_USE' | translate }}</button> -->

  <button class="alt-button logout-button" ion-button full icon-start (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    {{'LOG_OUT' | translate }}
  </button>
</ion-content>
