<ion-header>
  <ion-navbar>
    <ion-title>{{'Add Pages' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
  <ion-segment class="forms-examples-segment" [(ngModel)]="section" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="post" (ionSelect)="onSegmentSelected($event)">
      {{'POST' | translate}}
    </ion-segment-button>
    <ion-segment-button value="event" (ionSelect)="onSegmentSelected($event)">
      {{'PET' | translate}}
    </ion-segment-button>
    <ion-segment-button value="card" (ionSelect)="onSegmentSelected($event)">
      {{'SELL' | translate}}
    </ion-segment-button>
  </ion-segment>

  <!-- POST -->
  <div [ngSwitch]="section" class="forms-wrapper">
    <div *ngSwitchCase="'post'" class="post-example-view">
      <form class="sample-form post-form" [formGroup]="post_form" (ngSubmit)="createPost()">
        <section class="form-section">
          <ion-item>
            <ion-input type="text" placeholder="Title: e.g. Krabby Patty" formControlName="title"></ion-input>
          </ion-item>
          <button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="openImagePicker()">
            <ion-icon name="camera"></ion-icon>
            <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3>
          </button>
          <preload-image *ngIf="selected_image" [ratio]="{w:1, h:1}" [src]="selected_image" alt="this is the image" title="IMAGE!"></preload-image>
        </section>
        <ion-item>
          <ion-textarea rows="7" placeholder="Write a description or something..." formControlName="description"></ion-textarea>
        </ion-item>
        <section class="form-section">
          <button ion-button block icon-end class="choose-category-button" (click)="chooseCategory()">
            {{'CHOOSE_CATEGORY' | translate}}
            <ion-icon name="add"></ion-icon>
          </button>
        </section>
        <h2 class="section-title">{{'SERVES_TIMES_TEMPS' | translate}}</h2>
        <ion-item class="counter-item">
          <span class="counter-label">{{'SERVINGS' | translate}}</span>
          <counter-input formControlName="servings"></counter-input>
        </ion-item>
        <ion-item class="time-item">
          <ion-label>{{'TIME' | translate}}</ion-label>
          <ion-datetime formControlName="time" displayFormat="h:mm" pickerFormat="h mm"></ion-datetime>
        </ion-item>
        <ion-item class="range-item">
          <ion-label>
            <h2 class="range-label">{{'TEMPERATURE' | translate}}</h2>
            <h3 class="range-value">{{post_form.controls.temperature.value}} &deg;C</h3>
          </ion-label>
          <ion-range formControlName="temperature" min="0" max="220" step="5" snaps="true" pin="false"></ion-range>
        </ion-item>
        <section class="form-section">
          <button ion-button block class="form-action-button create-post-button" type="submit" [disabled]="!post_form.valid">Post!</button>
        </section>
      </form>
    </div>


    <!--PET-->
    <div *ngSwitchCase="'event'" class="event-example-view">
      <form class="sample-form event-form" [formGroup]="event_form" (ngSubmit)="createEvent()">
        <section class="form-section">
          <h2 class="section-title">{{'Add a pet' | translate}}</h2>
          <ion-item>
            <ion-input type="text" placeholder="Pet Name" formControlName="title"></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-input type="text" placeholder="Pet Id" formControlName="id"></ion-input>
            </ion-item>

          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
                <ion-label floating>{{'Date of born' | translate}}</ion-label>
                <ion-datetime formControlName="to_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row no-padding class="user-preferences-row">
              <span class="radio-tags-label">{{'TYPE OF PET' | translate}}</span>
              <ion-list class="radio-tags" radio-group formControlName="typeofpet">
                <ion-item class="radio-tag">
                  <ion-label>cat</ion-label>
                  <ion-radio value="cat"></ion-radio>
                </ion-item>
                <ion-item class="radio-tag">
                  <ion-label>
                    <span>dog</span>
                  </ion-label>
                  <ion-radio value="dog"></ion-radio>
                </ion-item>
              </ion-list>
            </ion-row>

            <ion-row no-padding class="multi-input-row">
              <ion-col no-padding width-60>
                <ion-item>
                  <ion-label>{{'PET BREED' | translate}}</ion-label>
                  <ion-select formControlName="petbreed"> 
                    <ion-option  *ngFor="let breed of petdetail.pet">{{breed.title}}</ion-option> 
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row no-padding class="user-preferences-row">
                <span class="radio-tags-label">{{'Gender' | translate}}</span>
                <ion-list class="radio-tags" radio-group formControlName="gender">
                  <ion-item class="radio-tag">
                    <ion-label>M</ion-label>
                    <ion-radio value="male"></ion-radio>
                  </ion-item>
                  <ion-item class="radio-tag">
                    <ion-label>
                      <span>F</span>
                    </ion-label>
                    <ion-radio value="female"></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-row>

            <ion-row no-padding class="multi-input-row">
                <ion-col no-padding>
            <ion-item>
                <ion-textarea rows="7" placeholder="Write a description or something..." formControlName="description"></ion-textarea>
              </ion-item>
            </ion-col>

            </ion-row>
            <section class="form-section">
              <button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="openImagePicker()">
                <ion-icon name="camera"></ion-icon>
                <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3>
              </button>
              <preload-image *ngIf="selected_image" [ratio]="{w:1, h:1}" [src]="selected_image" alt="this is the image" title="IMAGE!"></preload-image>
            </section>

        </section>
        <section class="form-section">
          <button ion-button block class="form-action-button create-event-button" type="submit" [disabled]="!event_form.valid">Done!</button>
        </section>
      </form>
    </div>

    <!-- SELL -->
    <div *ngSwitchCase="'card'" class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="createCard()">
        <section class="form-section">
          <h2 class="section-title">{{'CREDICT_CARD_INFORMATION' | translate}}</h2>
          <ion-item>
            <ion-label floating>{{'CARD_NUMBER' | translate}}</ion-label>
            <ion-input type="text" formControlName="card_number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'CARD_HOLDER' | translate}}</ion-label>
            <ion-input type="text" formControlName="card_holder"></ion-input>
          </ion-item>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
              <ion-item class="multi-input">
                <ion-label floating>CVC</ion-label>
                <ion-input type="text" formControlName="cvc"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item class="multi-input time-item">
                <ion-label floating>{{'EXP_DATE' | translate}}</ion-label>
                <ion-datetime formControlName="exp_date" displayFormat="MM/YYYY" pickerFormat="MM-YYYY"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </section>
        <ion-list class="card-preferences">
          <ion-item class="switcher-item">
            <ion-label>{{'SAVE_THIS_CARD' | translate}}</ion-label>
            <ion-toggle formControlName="save_card"></ion-toggle>
          </ion-item>
        </ion-list>
        <section class="form-section">
          <button ion-button block class="form-action-button create-card-button" type="submit" [disabled]="!card_form.valid">Confirm</button>
        </section>
      </form>
    </div>
  </div>
</ion-content>
