page-qna {
    .profile-content
    {
        background-color: color($colors, background, base);

        .user-details
        {
            @include element-shadow();
            padding-bottom: 4%;
            background-color: $white;

            .user-main-data-row
            {
                padding: 4% 4% 0px;
                align-items: center;

                .user-image
                {
                    border-radius: 50%;
                }
            }
        }
    }

    .titleicon {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align:center;
    }
}
